.App{
  color: aliceblue;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(11, 11, 94);
}

main{
  width: 50%;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

form>div>button>img{
  height: 20px;
  width: 20px;
}

form>div>button{
  background-color: rgb(11, 11, 94);
  border: none;
  cursor: pointer;
}

form>div{
  display: flex;
}

form>div>input{
  height: 25px;
  border-radius: 7px;
  text-align: center;
  background-color: #4aa2f04d;
  color: white;
  border: 0.5px solid rgb(11, 11, 94);
}

section{
  border-radius: 12px;
  background-color: #4aa2f04d;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  min-height: 457px;
}

article{
  min-height: 404px;
}

.weatherIcon{
  width: 212px;
  height: 212px;
}

.minmax{
  display: flex;
  justify-content: space-between;
}

#countryData{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

h1{
  text-align: center;
}

#btnDetails{
  margin: 10px;
  border-radius: 5pc;
  border: none;
  height: 33px;
  color: white;
  background-color: rgb(11, 11, 94);
  cursor: pointer;
  font-weight: 700;
  min-width: 180px;
}

#btnSearchs{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #4aa2f04d;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-end;
  font-size: 10px;
  
}

#currentLocBtn{
  cursor: pointer;
  border-radius: 16px;
  height: 31px;
  border: none;
  color: grey;
  background-color: #d0d0e7;
  font-weight: 600;
}


.divTotalCities{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.25px solid white;
}

#sectionAllCities{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-height: 457px;
  overflow-y: auto;
}